.vs/RemarkableSleepScreenManager/CopilotIndices/17.14.1091.29919/CodeChunks.db
*.db-shm
*.db-wal
*.db
*.v2
*.vsidx
*.json
*.dll
*.props
*.cache
*.targets
*.cs
*.pdb
*.editorconfig
*.resources
*.txt
*.BuildWithSkipAnalyzers
*.Up2Date
*.baml
*.exe
.vs/RemarkableSleepScreenManager/v17/.suo
*.bin
bin/Debug/net8.0-windows/win-x64/Assets/suspended.png
AssemblyInfo.cs
bin/Debug
obj/

obj/Debug/net8.0-windows/win-x64/RemarkableSleepScreenManager_MarkupCompile.lref
